ul, li, p{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
.header-wrapper{
    width: 95%;
    margin: 0 auto;
    
}
.wrapper{
    width: 85%;
    margin: 0 auto;
}
.productWrapper{
    width: 80%;
    max-width: 1000px;
}

svg{
    font-size: 2rem;
    cursor: pointer;
}