html{
    font-size: 125%;
}

ul, li, p{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
.header-wrapper{
    width: 95%;
    margin: 0 auto;
    
}
.wrapper{
    width: 85%;
    margin: 0 auto;
}
.productWrapper{
    width: 80%;
    max-width: 1000px;
}

svg{
    font-size: 2rem;
    cursor: pointer;
    color: black;
}

p{
    font-size: clamp(0.7rem,1vw ,1rem);
}
button{
    font-size: clamp(0.7rem,0.8vw ,1rem);
}
