@use "./mixin" as *;

main{
    min-height: 500px;
    .wrapper{
        display: flex;
        form{
            width: 120px;
            height: 300px;
            position: sticky;
            top: 90px;
            fieldset{
                border: none;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
            }
            label{
                cursor: pointer;
                margin-bottom: 10px;
            }
            input{
                display: none;
            }
            input[type="radio"]:checked + label, label:hover{
                color: #b37866;
            }
        }
    }
    .productLists{
        @include loadingPage();
        padding-left: 5%;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            // position: relative;
        }
        li{
            width: 23%;
            margin: 0 1% 40px 1%;
            padding: 40px 2% 2% 2%;
            position: relative;
        }
        button{
            cursor: pointer;
            border: none;
            border-bottom: 2px solid #baa59f;
            background-color: #e2cac3;
            display: flex;
            padding: 10px 0;
            width: 115px;
            border-radius: 20px;
            justify-content: center;
            font-weight: bold;
            margin-top: 10px;
            &:active {
                border-bottom: none;
                transform: translateY(2px);
            }
        }
        .product-detail{
            position: absolute;
            top: 45%;
            left: 20%;
            display: none;
            p{
                color: black;
                font-size: 1.2rem;
                text-align: center;
            }
        }
        .product-container{
            position: relative;
            &:hover{
                .product-detail{
                    display: block;
                }
            }
        }
        img{
            cursor: pointer;
            height: 250px;
            object-fit: cover;
            width: 100%;
            margin-bottom: 10px;
            border-radius: 10px;
            &:hover, &:focus{
                transform: scale(1.05);
                opacity: 30%;
                z-index: 2;
                position: relative;
            }
        }
        p{
            &:nth-child(3){
                line-height: 1.1;
                font-weight: 600;
                font-size: clamp(0.7rem, 2vw, 0.9rem);
            }
            &:nth-child(4){
                padding: 0 0 10px 0;
                font-weight: 500;
                font-size: clamp(0.7rem, 3.8vw, 0.9rem);
            }
            &:nth-child(5){
                font-weight: 700;
            }
        }
    }
    .heartAnimation{
        position: absolute;
        top: -30px;
        right: -10px;
    }
}

.heartAnimation {
background-image: url('../../components/assets/web-heart-animation.png');
background-repeat: no-repeat;
background-size: 2900%;
height: 85px;
width: 85px;
margin: 0 auto;
cursor: pointer;
}

.animate {
    animation: heart-burst 1s steps(28) forwards;
}

@keyframes heart-burst {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}   