@media screen and (max-width: 1100px){
    header{
        height: auto;
        margin-bottom: 100px;
        .header-img{
            height: 500px;
        }
    }
    main{
        .productLists{
            li{
                width: 31.3%;
            }
        }
    }
}

@media screen and (max-width: 900px){
    header{
        .header-img{
            flex-direction: column;
            height: 800px;
            img{
                width: 100%;
                height: 400px;
            }
            .header-content{
                width: 100%;
                align-items: center;
            }
        }
    }
    main{
        .productLists{
            li{
                width: 48%;
            }
        }
        .loading{
            width: 110px;
            height: 110px;
            font-size: 14px;
            line-height: 110px;
        }
    }
    .cart-container, .wish-container{
        width: 80%;
    }
}

@media screen and (max-width: 550px){
    .header-wrapper{
        svg{
            font-size: 1.4rem;
        }
    }
    .top-nav-container .header-wrapper li:nth-child(2){
        justify-content: space-around;
    }
    .cart-container, .wish-container{
        width: 100%;
    }
    .cart-container li .buttons, .wish-container li .buttons{
        flex-direction: column;
    }
    .add-to-cart{
        margin-bottom: 7px;
    }
    .cart-container li, .wish-container li{
        width: 95%;
    }
    .cart-container .totalMoney, .wish-container .totalMoney{
        width: 95%;
    }
    main{
        .wrapper{
            width: 95%;
        }
        .productLists{
            li{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        label{
                margin-bottom: 0;
            }
    }
    .productWrapper{
        width: 90%;
    }
    .productDetail{
        flex-direction: column-reverse;
        .loading{
            width: 110px;
            height: 110px;
            font-size: 14px;
            line-height: 110px;
        }
        .productImageContainer{
            margin: 0;
            height: 80%;
        }
        .productContainer{
            width: 90%;
            height: 600px;
            button{
                width: 110px;
            }
        }
    }
}

@media screen and (max-width: 400px){
    header{
        .header-img{
            margin-top: 0;
        }
    }
}