@use "partials/setup";
@use "partials/base-styles";
@use "partials/header";
@use "partials/main";
@use "partials/product";
@use "partials/cart-wish-list-styles";
@use "partials/mixin";
@use "partials/media";

footer{
  height: 60px;
  background-color: #e2cac3;
  display: flex;
  justify-content: center;
  align-items: center;
}



