ul, li, p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.header-wrapper {
  width: 95%;
  margin: 0 auto;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.productWrapper {
  width: 80%;
  max-width: 1000px;
}

.top-nav-container {
  background-color: #fdfcf8;
  position: fixed;
  z-index: 10;
  left: 0%;
  top: 0%;
  right: 0%;
  height: 64px;
}
.top-nav-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

main .wrapper {
  padding-top: 50px;
  display: flex;
}
main .wrapper form {
  width: 120px;
  height: 300px;
}
main .wrapper form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
main .wrapper form input {
  display: none;
}
main .productLists ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .productLists li {
  width: 20%;
  margin: 0 20px 40px 20px;
  padding: 20px;
  background-color: #fff6f3;
  cursor: pointer;
  transition: 0.5s;
}
main .productLists li:hover, main .productLists li:focus {
  transform: scale(1.05);
}
main .productLists img {
  height: auto;
  width: 100%;
}

.productDetail {
  margin: 150px auto 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productDetail .productContainer {
  width: 55%;
}
.productDetail .productContainer svg {
  font-size: 2rem;
  cursor: pointer;
}
.productDetail .productImageContainer {
  height: 600px;
  width: 45%;
}
.productDetail .productImageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  height: 50px;
  background-color: #fdfcf8;
  display: flex;
  justify-content: center;
  align-items: center;
}